<div class="center-wrapper">
    <div class="about-wrapper" data-aos="zoom-in">
        <div class="about-wrapper__box">
            <h2 data-aos="fade-right">Chi sono</h2>
            <p  data-aos="fade-right">Ciao, posso darti una mano a creare siti pixel-perfect e responsive, oltre che web app. <br> 
                Sarò felice di discutere con te dei tuoi progetti. 
            <br>
        Le mie skill variano dal <strong>responsive</strong> web design, <strong>SEO-friendly</strong> e siti mobile responsive partendo da mockup come Figma o Zeplin, al web app con <strong>Angular</strong> o Ionic.
    <br>
</p>
        </div>
        <div class="about-wrapper__box">

            <h2 data-aos="fade-right">Informazioni</h2>
            <div class="info-list">
                <div class="info-list--key">
                    <strong>Email:</strong>
                    <strong>Location:</strong>
                    <strong>Interessi:</strong>
                </div>
                <div class="info-list--value">
                    <div><a href="mailto:annalisa.pe@live.it">annalisa.pe@live.it</a></div>
                    <div>Pavia</div>
                    <div>Giardinaggio, Betting exchange, viaggi</div>
                </div>
            </div>

            <div></div>

        </div>
    </div>
</div>