@import "../../../assets/variables/styles.scss";

.main-wrapper {
  display: flex;
  // height: calc(100vh - 100px);
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  margin-top: 50px;
  a {
    color: $azure;
    &:hover {
      color: $pink;
      text-decoration: none;
      transition: all 0.3s linear;
    }
  }
  .experiences-wrapper {
    background-color: $white;
    // width: 100%;
    color: $black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.8rem;
    box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
    gap: 30px;
    margin-bottom: 30px;
    overflow: visible;

    @include respond-to("small") {
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 150px;
    }

    &__box {
      @include respond-to("small") {
        &:first-child {
          width: 25%;
        }
        width: 74%;
      }
      p {
        color: $black;
      }
      h2 {
        color: $pink;
        font-size: 1.8rem;
        @include respond-to("small") {
          font-size: 1.2rem;
        }
      }
      .job-title {
        color: $azure;
        font-size: 1.4rem;
        @include respond-to("small") {
          font-size: 1rem;
        }
      }
    }
  }
}
