<h2 class="side-logo">Annalisa Pe</h2>
<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Chi sono</span>   
    </a>
    <a mat-list-item routerLink="/experiences" (click)="onSidenavClose()">
        <mat-icon>done_outline</mat-icon><span class="nav-caption">Esperienze</span>
    </a>
    <a mat-list-item routerLink="/skills" (click)="onSidenavClose()">
        <mat-icon>face</mat-icon><span class="nav-caption">Skills</span>
    </a>
    <a mat-list-item routerLink="/education" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Studi</span>
    </a>
    <a mat-list-item routerLink="/contacts" (click)="onSidenavClose()">
        <mat-icon>favorite</mat-icon><span class="nav-caption">Contatti</span>
    </a>
</mat-nav-list>